$main-color: #ea8025;

body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1379px;
    margin: auto;
}
.btn{
    cursor: pointer;
    background-color: transparent;
    color: #191919;
    border: 1px solid #e5e5e5;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    &:hover{
        border-color: #b2b2b2;
    }
}
.header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 25px;
    }
    &-left{
        &__img{
            height: auto;
        }
    }
    &-center{
        display: flex;
        align-items: center;
        &__call{
            margin-right: 30px;
        }
        &__form{
            position: relative;
            .fa-map-marker-alt{
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(112, 112, 112);
                font-size: 20px;
            }
            form{
                input{
                    height: 40px;
                    width: 450px;
                    padding: 0 10px 0 40px;
                    background: #fff;
                    color: #333333;
                    border: 1px solid #b2b2b2;
                    outline-color: $main-color;
                }
            }
        }
    }
    &-right{
        .btn{
            margin-right: 45px;
        }
    }
}
.main{
    margin-top: 100px;
    &-container{
        display: flex;
        align-items: flex-start;
        &__left{
            width: 68%;
            display:flex;
            justify-content: space-between;
            &-navmenu{
                width: 291px;
            }
        }   
    }
    
    &-navmenu{
        width: 291px;
        background-color: #ffffff;
        padding: 15px;
        box-shadow: 3px 3px 6px 0 #e5e5e5;
        position: fixed;
        top: 100px;
        &__items{
            padding: 10px 20px;
            a{
                color: #999;
                font-size: 14px;     
            }
        }
    }
    &-center{
        width: calc(100% - 291px - 40px);
        margin: 0 20px;
       
        &__form{
            position: relative;
            input{
                width: 100%;
                height: 40px;
                padding: 0 10px 0 40px;
                background: #fff;
                color: #333333;
                border: 1px solid #b2b2b2;
                outline-color: $main-color;
            }
            .fa-search{
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: rgb(112, 112, 112);
                font-size: 20px;
            }
        }
        &__product-listname{
            color: #333333;
        }
        &__product-item{
            display: flex;
            padding: 10px;
            background-color: #ffffff;
            position: relative;
            margin-bottom: 2px;
            transition: all .3s;
            &:hover{
                box-shadow: 3px 3px 6px 0 #e5e5e5;
            }
            .product-img{
                width: 40%;
                margin-right: 10px;
            }
            .product{
                &-name, &-price {
                    color: rgb(51, 51, 51);
                    font-size: 18px;
                    font-weight: 400;
                }
                &-desc{
                    color: #999;
                    font-size: 14px;
                    margin: 5px 0;
                }
            }
            .fa-plus-circle{
                position: absolute;
                bottom: 10px;
                right: 13px;
                font-size: 30px;
                color: $main-color;
            }
        }
    }
    &-cart{
        width: 445px;
        background-color: #ffffff;
        box-shadow: 3px 3px 6px 0 #e5e5e5;
        position: fixed;
        // right: 0;
        top: 100px;
        &__top{
            padding: 15px 20px;
            border-bottom: 3px solid #f5f5f5;
            p{
                background-color: #f3b27b;
                text-transform: uppercase;
                color: #ffffff;
                text-align: center;
                padding: 10px 0;
                font-size: 14px;
            }
        }
        &__mid{
            padding: 15px 20px;
            border-bottom: 2px solid #f5f5f5;
            &-form{
                position: relative;
                input{
                    width: 68%;
                    height: 39px;
                    outline-color: $main-color;
                    padding-left: 10px;
                }
                .btn-apply{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $main-color;
                    color: #ffffff;
                    font-weight: 700;
                    border: none;
                }
            }
        }
        &__bot{
            padding: 10px 20px;
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }
    .color-33{
        color: rgb(51, 51, 51);
    }
}

.footer{
    height: 408px;
    width: 100%;
    margin-top: 40px;
    position: relative;
    z-index: 10;
    background-color: #000000;
    &-top{
        padding: 70px 0 40px;
        border-bottom: 1px solid #ffffff;
        & > div{
            width: 25%;
        }
        display: flex;
        .footer-title{
            color: $main-color;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 14px;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__logo-icon{
            margin-top: 50px;
            a{
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: #ffffff;
                border-radius: 50%;
                position: relative;
                margin-right: 10px;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #000000;
                }
            }
        }
        &__introduct{
            &-title{
                vertical-align: text-top;
                span{
                    display: inline-block;
                    color: #fff;
                    font-weight: 400;
                    font-size: 10px;
                    max-width: 160px;
                    vertical-align: text-top;
                }
            }
            &-items{
                a{
                    color: #ffffff;
                    font-size: 14px;
                    transition: all .3s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        &__app{
            img{
                height: 40px;
                margin-bottom: 20px;
                border: 1px solid #ffffff;
                border-radius: 10px;
            }
        }
        &__contact{
            p{
                color: #ffffff;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
    &-bot{
        padding: 20px 0;
        &__text{
            color: rgb(51, 51, 51);
            font-size: 14px;
        }
    }
}