.login {
  width: 488px;
  margin: 0 auto;
  position: relative;
  top: 180px;
  &-name {
    color: #191919;
    font-size: 24.5px;
    font-weight: 400;
    text-transform: capitalize;
  }
  &-form {
    &__phone {
      padding: 8px 13px;
      margin: 10px 0 20px;
      background-color: #ffffff;

      select {
        padding-left: 40px;
        margin-right: 10px;
        border: none;
        outline: none;
        height: 24px;
        &:first-child {
          background-image: url("../../assets/img/country.png");
          background-repeat: no-repeat;
        }
      }
      input {
        color: #333333;
        width: 79%;
        border: none;
        outline: none;
        font-size: 15px;
      }
    }
    .error {
      color: red;
      font-size: 13px;
      font-weight: 700;
      height: 15px;
    }
    &__btnSubmit {
      width: 100%;
      margin: 20px 0 10px;
      color: #fff;
      background: #ea8025;
      border: none;
      &[disabled] {
        background-color: transparent;
        border: 1px solid #e5e5e5;
        color: #a4a2a2;
      }
    }
  }
  .registrations {
    float: right;
    font-size: 14px;
    font-weight: 700;
    color: rgb(33, 37, 41);
    margin-bottom: 20px;
  }
  .or {
    clear: right;
    font-size: 14px;
    color: #212529;
  }
  &-fb {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    button {
      width: 170px;
      border: none;
      &:first-child {
        color: #212529;
        background-color: rgb(232, 230, 230);
        margin-right: 50px;
      }
      &:last-child {
        color: #ffffff;
        background-color: #212529;
      }
    }
  }
}

.registrations-desc {
  color: #212529;
  font-size: 14px;
}
.registrations-cover {
  color: #007bff !important;
  &:hover {
    text-decoration: underline;
  }
}

.form-otp {
  background-color: #fff;
  padding: 50px 30px;
  p {
    font-size: 15px;
    color: #212529;
    text-align: center;
  }
  input {
    width: 100%;
    line-height: 35px;

    padding-left: 20px;
    margin: 30px 0;
  }
  button {
    display: block;
    width: 50%;
    margin: 0 auto;
    color: #fff;
    background: #ea8025;
    border: none;
  }
}
