.itemOrder {
    padding: 7px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    &:last-child {
        border-bottom: none;
    }
    &-left {
        display: flex;
        align-items: flex-start;
        &__amount {
            background-color: #faa05a;
            color: #fff;
            font-size: 12px;
            display: inline-block;
            padding: 2px 10px;
            border-radius: 3px;
            margin-right: 20px;
            margin-top: 3px;
        }
        &__infoProduct {
            p {
                color: #333333;
                font-size: 12px;
                margin-bottom: 2px;
                &:first-child {
                    font-size: 14px;
                }
            }
        }
    }
    &-right {
        p {
            color: #333333;
            font-size: 14px;
        }
    }
}
